@media(max-width:1140px) {
    .intro{
        height: 500px;
    }
    .nike_box{
        flex-direction: column;
        max-width: 540px;
        margin: 0 auto;
    }
}
@media(max-width:1000px) {
    .intro{
        height: 450px;
    }
}
@media(max-width:900px) {
    .intro{
        height: 400px;
    }
    .nav{
        padding: 15px 0;
    }
    .nav_menu{
        display: block;
    }
    .nav_close{
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .header{
        position: relative;
        overflow: hidden;
    }
    .nav_list{
        position: absolute;
        flex-direction: column;
        background: #322e41;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
        height: 100%;
        transform: translateX(110%);
        transition: 0.5s;
    }
    #menu:checked~.nav_list{
        transform: translateX(0);
    }
    .nav_link{
        padding: 15px 8px;
    }
    .footer_box{
        flex-direction: column;
        gap: 15px;
    }
}
@media(max-width:800px) {
    .intro{
        height: 350px;
    }
}
@media(max-eidth:700px) {
    .intro{
        height: 300px;
    }
    .nike_img{
        width: 100%;
    }
    .intro_title{
        font-size: 40px;
        line-height: 80px;
    }
}
@media(max-width:500px) {
    .nike_title{
        font-size: 18px;
        margin: 10px 0;
        line-height: 100%;
    }
    .nike_text{
        font-size: 15px;
        line-height: 120%;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: justify;
    }
    .nike_right{
        justify-content: center;
    }
    .nav_close img{
        width: 25px;
    }
    .nav_list{
        padding: 20px;
        padding-top: 50px;
    }
    .nav_link{
        padding: 8px;
    }
    .footer{
        padding: 15px 0;
    }
    .nike_box{
        gap: 15px;
    }
    .nike_right{
        gap: 15px;
    }
    .intro_title{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .intro_text{
        font-size: 16px;
    }
    .intro{
        height: 250px;
    }
    .nike_title{
        font-size: 17px;
        margin: 8px 0;
        text-align: center;
    }
    .nike_text{
        font-size: 14px;
    }
}
